#Heading {
	font-size: 23px;
	width: 100%;
	margin: 0
}

#Note {
	font-size: 15px;
	color: black
}

canvas {
	background-color: gray;
	border: 5px solid lightgray;
	border-radius: 20px;
	margin-top: 150px;
	box-shadow: 5px 5px 5px #73cfd8
}